# ---------------------------------------------------
# 🌐 WEBSITE SETTINGS
# ---------------------------------------------------

# Main website URL (used in astro.config.mjs and sitemap)
PUBLIC_SITE_URL=website-url-goes-here

# Sanity CMS Configuration
PUBLIC_SANITY_PROJECT_ID=your-project-id
PUBLIC_SANITY_DATASET=production
